* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'dosis', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
}


body {
    background-image: url("../images/pexels-photo-235985pixabay.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1, h2, h3, h4, h5 {
    font-family: 'Kalam', cursive;
    letter-spacing: 1.8px;
    margin: 3rem auto 1rem;
    text-align: center;
    text-shadow: 0px 0px 6px #113;
    color: white;
}
p {
    padding: 0.2em 0.3em;
}
a {
    color: rgb(0, 60, 255);
    font-weight: bolder;
    text-decoration: none;
}
hr {
    width: 80%;
    margin: 4% auto;
    background-color: rgb(209, 209, 255);
    border-radius: 50%;
}
.shortHR {
    width: 50%;
}
nav, footer {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 600px;
    align-items: center;
    background-color: rgba(0,0,20,0.3);
}
nav {
    height: 75px;
    border-bottom: 1px solid black;
}
footer {
    height: 100px;
    border-top: 1px solid black;
}
nav a, footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


/* contains 3 items: logo id='navLogoDiv', ul id='navbar, burger id='burger' */
#navContentContainer { 
    margin: auto;
    width: 80%;
    height: 100%;
    min-width: 600px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
#navLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
}
#navLogoDiv span {
    color:  rgb(73, 221, 204);
    font-size: 2rem;
}
/*navbar*/
#navbar {
    visibility: hidden; /* altered with toggle via ev listener target == burger */
    opacity: 0;         /* "  " */
    transition: opacity 0.2s ease-in;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
#navbar > li {
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 0 1 30%;
    min-width: 105px;
    border-radius: 5% / 25%;
    border: 1px outset rgb(116, 137, 143);
    border-left: 3px outset rgb(116, 137, 143);
    border-right: 3px outset rgb(116, 137, 143);
    background-image: linear-gradient(-20deg, rgb(72, 72, 218), rgb(86, 196, 145));
    overflow: hidden;
}

#navbar > li > a {
    margin: -1px; /*helps reduce background spaces around edges at different zoom sizes*/
    padding: 0.1em;
    font-weight: normal;
    transition: all 0.3s ease;
    background-color: #000;
}

#navbar > li > a:hover {
    color: black;
    font-weight: bolder;
    background-color: transparent;
}
/*showNav class is toggled with event listener via target == burger*/
#navbar.showNav {
    visibility: visible;
    opacity: 1;
}
#navbar > li:hover {
    border-left: 3px solid #c8fff0;
    border-right: 3px solid #c8fff0;
}
/*burger*/
.burger {
    cursor: pointer;
    padding-right: 0.5em;
}
.burger div {
    width: 25px;
    height: 2px;
    margin: 5px 10px;
    background-color: rgb(73, 221, 204);
    transition: all 0.2s ease-in;
}
.burger.burgX .topB {
    transform: rotate(-45deg) translate(-5px, 5px);
    background-color: #b8efe0;
}
.burgX .midB {
    transform: rotate(360deg);
    opacity: 0;
}
.burger.burgX .btmB {
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #b8efe0;
}
/* end of navContentContainer items*/


footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: auto;
    width: calc(0.8 * 0.8 * 100%); /* 80% of maincontent, which is also 80%. footer(container) is 100% */
    min-width: calc(0.8 * 600px);
    max-width: calc(0.8 * 1200px);
    height: 60%;
    border-radius: 2% / 30%;
    border-left: 5px solid  #aab;
    border-right: 5px solid  #aab;
}
footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbc;
    font-weight: lighter;
    margin: 0 -2px;
    border-radius: 12px / 20%;
    width: 30%;
    height: 60%;
}
footer ul li:not(.last) {
    border-right: 3px solid #778;
}
footer ul li:not(.first) {
    border-left: 3px solid #778;
}
footer .last a {
    padding-top: 0.25em;
}
/*footer icons*/
#fcc:hover {
    filter: invert(0) sepia(1) saturate(30) hue-rotate(20deg) brightness(1.3);
}
#as:hover {
    filter: invert(0) sepia(1) saturate(20) hue-rotate(180deg) brightness(1.3);
}
#gh:hover {
    filter: brightness(1.5);
}


.mainContent {
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
    min-height: 100vh;
    background-color: #ccd;
    background-clip: padding-box;
    margin: -75px auto -100px;
    border: 1px solid black;
    border-top: 75px solid rgba(0,0,10,0.3);
    border-bottom: 100px solid rgba(0,0,10,0.3);
}

.projects {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.projectTile {
    width: 100%;
    margin: 2em 0;
}
.projectTile img {
    width: 60%;
    padding: 0.4em 0;
}


.projectTile a {
    margin: 0.2em 0.4em;
    position: relative;
    display: block;
    font-size: 1.25rem;
    background-color: rgba(200,225,255,0.3);
    border: 1px inset rgb(240, 245, 255);
    border-radius: 5px;
}
.projectTile a::before {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    top: calc(50% - 0.4em); 
    content: '';
    width: 0;
    height: 0;
    border: 0.4em solid transparent; 
    border-radius: 10%;
    left: -1.5em;
    border-left: 1em solid rgb(0, 62, 179);
}
.projectTile a:hover::before{
    opacity: 1;
}

.descriptionContainer {
    width: 70%;
    margin: 2em auto;
  }  

.lightOverlay, .darkOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.lightOverlay {
    background-color: rgba(235, 235, 255, 0.6);
}
.darkOverlay {
    background-color: rgba(0, 0, 20, 0.6);
}
.justifyText {
    text-align: justify;
}
.leftText {
    text-align: left;
}



.radioBtnContainer {
    width: 75%;
    margin: 0.4em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.radioBtnContainer > div {
    margin: 0 0.4em;
}
.radioBtnContainer label {
    letter-spacing: 0.6px;
}
.radioBtnContainer input {
    margin: 0.2em;
}






@media only screen and (max-width: 600px) {
    #navLogoDiv {
        display: none;
    }
    .burger {
        display: none;
    }
    nav {
        height: auto;
    }
    #navbar {
        visibility: visible;
        opacity: 1;
        flex-direction: column;
        width: 100%;
    }
    #navbar li {
        width: 100%;
        border-radius: 2px;
    }
    #navbar a {
        height: 60px;
    }
    #projects {
        width: 90%;
    }
    .descriptionContainer {
        width: 85%;
    } 
    h2 {
        font-size: 22px;
    }
}